body {
    width: 80%;
    margin: 50px auto;
}

#first-div {
    width: 650px;
    height: 650px;
    background-color: #050210;
    margin: 50px auto;
    position: relative;
}

#second-div {
    position: absolute;
    left: 0%;
    right: 0%;
    margin: 20% auto;
    width: 60%;
    height: 60%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 100%;
    z-index: 1;
    animation: rotation 1s infinite;
}

#second-div::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    width: 110%;
    height: 110%;
    border-radius: 100%;
    z-index: 0;
    filter: blur(30px);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    8% {
        transform: rotate(30deg);
    }
    16% {
        transform: rotate(60deg);
    }
    25% {
        transform: rotate(90deg);
    }
    33% {
        transform: rotate(120deg);
    }
    41% {
        transform: rotate(150deg);
    }
    50% {
        transform: rotate(180deg);
    }
    58% {
        transform: rotate(210deg);
    }
    66% {
        transform: rotate(240deg);
    }
    75% {
        transform: rotate(270deg);
    }
    83% {
        transform: rotate(300deg);
    }
    91% {
        transform: rotate(330deg);
    }

    100% {
        transform: rotate(360deg);

    }
}


#third-div {
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 100%;
    left: 50%;
    top: 50%;     
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(5, 2, 16, 0.9) 50px, rgb(5, 2, 16) 50px);
    animation: radial 1.4s linear infinite ;
    filter: blur(1px);
}

@keyframes radial {
    0% {    
        background: radial-gradient(rgba(5, 2, 16, 0.95) 0%, rgb(5, 2, 16) 0%);
    }
    5% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 5%, rgb(5, 2, 16) 5%);
    }

    10% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 10%, rgb(5, 2, 16) 10%);
    }
    15% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 15%, rgb(5, 2, 16) 15%);
    }

    20% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 20%, rgb(5, 2, 16) 20%);
    }
    25% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 25%, rgb(5, 2, 16) 25%);
    }

    30% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 30%, rgb(5, 2, 16) 30%);
    }
    35% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 35%, rgb(5, 2, 16) 35%);
    }

    40% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 40%, rgb(5, 2, 16) 40%);
    }
    45% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 45%, rgb(5, 2, 16) 45%);
    }

    50% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 50%, rgb(5, 2, 16) 50%);
    }
    55% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 55%, rgb(5, 2, 16) 55%);
    }

    60% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 60%, rgb(5, 2, 16) 60%);
    }
    65% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 65%, rgb(5, 2, 16) 65%);
    }

    70% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 70%, rgb(5, 2, 16) 70%);
    }
    75% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 75%, rgb(5, 2, 16) 75%);
    }

    80% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 80%, rgb(5, 2, 16) 80%);
    }
    85% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 85%, rgb(5, 2, 16) 85%);
    }

    90% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 90%, rgb(5, 2, 16) 90%);
    }
    95% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 95%, rgb(5, 2, 16) 95%);
    }

    99% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 100%, rgb(5, 2, 16) 100%);
    }
    100% {
        background: radial-gradient(rgba(5, 2, 16, 0.95) 0%, rgb(5, 2, 16) 0%);

    }
}